.page {
  font-family: Arial, sans-serif;
  background-color: rgb(14, 20, 59);
  min-height: 100vh;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 40px 20px;
}

/* Header */
.headermain {
  margin-bottom: 30px;
  border-radius: 10PX;
}

.text {
  font-size: 18px;
  color: white;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

/* Card */
.card {
  background-color: rgb(34, 53, 148);
  color: #cbd5e1;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Remove invalid border:auto */
.card-link {
  text-decoration: none;
  color: inherit;
}

/* Title */
.card h3 {
  margin-top: 12px;
  color: #ffffff;
}

/* Icon */
.icon {
  margin-bottom: 15px;
}

.icon svg {
  stroke: #ffffff;
  transition: stroke 0.3s ease;
}

/* ===== HOVER EFFECT ===== */

.card:hover {
  background-color: #ffffff;
  color: #111827;
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

/* Change text color properly */
.card:hover h3 {
  color: #111827;
}

.card:hover p {
  color: #374151;
}

/* Change icon color WHEN CARD is hovered */
.card:hover .icon svg {
  stroke: #111827;
  transition: 0s;
}